<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
<form action="#"
      th:action="@{/process}"
      th:object="${todo}"
      method="post">
    Id :<input type="text" th:field="*{title}" />
    <span th:if="${#fields.hasErrors('title')}"
          th:errors="*{title}"></span>
    Task Name :<input type="text" th:field="*{task}" />
    <span th:if="${#fields.hasErrors('task')}"
          th:errors="*{task}"></span>
    Priority :<input type="text" th:field="*{priority}" />
    <span th:if="${#fields.hasErrors('priority')}"
          th:errors="*{priority}"></span>
    Due date :<input type="text" th:field="*{duedate}" />
    <span th:if="${#fields.hasErrors('duedate')}"
          th:errors="*{duedate}"></span>
    <input type="submit" value="Submit" />
</form>
</body>
</html>